"*":
  "atom-beautify":
    css:
      align_assignments: true
      beautify_on_save: true
      configPath: "~/.csscomb.json"
      convert_quotes: "single"
      default_beautifier: "CSScomb"
      newline_between_rules: true
    general:
      _analyticsUserId: "69a39460-7d1c-49ff-b35b-4fc43d42433a"
    less:
      beautify_on_save: true
      default_beautifier: "CSScomb"
    sass:
      beautify_on_save: true
      configPath: "~/.csscomb.json"
    scss:
      beautify_on_save: true
      configPath: "~/.csscomb.json"
      default_beautifier: "CSScomb"
  "atom-css-comb":
    projectConfigs: ".csscomb.json"
    readyMadeConfigs: "csscomb"
  "atom-material-ui":
    colors:
      abaseColor: "#28827d"
      accentColor: "#a91a22"
      genAccent: true
      paintCursor: true
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "auto-update-packages": {}
  "autocomplete-plus": {}
  "autocomplete-ruby":
    rsensePath: "~/.rbenv/shims/rsense"
  "clipboard-plus": {}
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "text.html.ruby": [
        "erb"
      ]
    ignoredNames: [
      ".codekit-cache"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "d4057cb0-edf4-1925-2d5d-f2e1ef28f601"
  "file-icons":
    coloured: false
    onChanges: true
  fonts:
    fontFamily: "Hack"
  linter: {}
  "linter-eslint":
    eslintrcPath: "~/"
    globalNodePath: "/usr/local"
  "linter-foodcritic":
    executablePath: "/Users/tomskarbek/.rbenv/shims/foodcritic"
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-rubocop":
    command: "/Users/tomskarbek/.rbenv/versions/2.3.1/bin/rubocop"
  "linter-ruby": {}
  "linter-scss-lint":
    executablePath: "/Users/tomskarbek/.rbenv/shims/scss-lint"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      linter: true
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "ruby-test": {}
  "seti-ui":
    themeColor: "Red"
  "spell-check": {}
  "tabs-to-spaces": {}
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1493118402
  welcome:
    showOnStartup: false
