"*":
  "atom-beautify":
    css:
      align_assignments: true
      beautify_on_save: true
      configPath: "~/.csscomb.json"
      convert_quotes: "single"
      default_beautifier: "CSScomb"
      newline_between_rules: true
    general:
      _analyticsUserId: "69a39460-7d1c-49ff-b35b-4fc43d42433a"
    less:
      beautify_on_save: true
      default_beautifier: "CSScomb"
    sass:
      beautify_on_save: true
      configPath: "~/.csscomb.json"
    scss:
      beautify_on_save: true
      configPath: "~/.csscomb.json"
      default_beautifier: "CSScomb"
  "atom-css-comb":
    projectConfigs: ".csscomb.json"
    readyMadeConfigs: "csscomb"
  "atom-easy-jsdoc":
    beta: true
    useReturns: true
  "atom-ide-ui":
    use: {}
  "atom-material-ui":
    colors:
      abaseColor: "#28827d"
      accentColor: "#a91a22"
      genAccent: true
      paintCursor: true
    fonts: {}
    tabs: {}
    treeView:
      compactList: false
    ui: {}
  "atom-package-deps":
    ignored: []
  "auto-update-packages": {}
  "autocomplete-plus": {}
  "autocomplete-ruby":
    rsensePath: "~/.rbenv/shims/rsense"
  "clipboard-plus": {}
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "text.html.ruby": [
        "erb"
      ]
    disabledPackages: [
      "linter"
      "language-javascript-jsx"
      "double-tag"
      "goto-definition"
      "hashy"
      "highlight-selected"
      "ide-css"
      "ide-flowtype"
      "ide-html"
      "ide-json"
      "Stylus"
      "intentions"
      "tidy-tabs"
      "svgo"
      "rails-snippets"
      "rails-partials"
      "minimap"
      "minimap-pigments"
      "atom-ide-ui"
      "ide-typescript"
    ]
    ignoredNames: [
      ".codekit-cache"
      ".gitignore"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-ide-dark-syntax"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: false
  docblockr:
    return_description: false
    return_tag: "@returns"
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "d4057cb0-edf4-1925-2d5d-f2e1ef28f601"
  "file-icons":
    coloured: false
    onChanges: true
  "file-watcher":
    promptWhenChange: true
    useFsWatchFile: true
  fonts:
    fontFamily: "Hack"
  "language-babel":
    disableWhenNoBabelrcFileInPath: false
    emmetCSSAutocomplete: true
  linter: {}
  "linter-eslint":
    global:
      eslintrcPath: "~/"
      globalNodePath: "/usr/local"
  "linter-foodcritic":
    executablePath: "/Users/tomskarbek/.rbenv/shims/foodcritic"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-rubocop":
    command: "/Users/wazynski/.rbenv/shims/rubocop"
  "linter-ruby": {}
  "linter-scss-lint":
    executablePath: "/Users/wazynski/.rbenv/shims/scss-lint"
  "linter-ui-default":
    panelHeight: 195
  "linter-xo": {}
  minimap:
    plugins:
      linter: true
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui":
    tabSizing: "Maximum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
  "ruby-test": {}
  "seti-ui":
    themeColor: "Red"
  "spell-check": {}
  "tabs-to-spaces": {}
  "tidy-tabs":
    minimumTabs: 5
    modifiedThreshold: 1
  "tool-bar":
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
