packages: [
  "atom-beautify"
  "atom-material-ui"
  "auto-detect-indentation"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-gemfile"
  "autocomplete-json"
  "autocomplete-paths"
  "busy-signal"
  "docblockr"
  "double-tag"
  "editorconfig"
  "emmet"
  "file-icons"
  "fonts"
  "gloom"
  "hashy"
  "highlight-selected"
  "intentions"
  "language-aspx"
  "language-babel"
  "language-cshtml"
  "language-ect"
  "language-javascript-jsx"
  "linter"
  "linter-eslint"
  "linter-jshint"
  "linter-php"
  "linter-rubocop"
  "linter-ruby"
  "linter-scss-lint"
  "linter-ui-default"
  "linter-xo"
  "minimap"
  "minimap-pigments"
  "package-sync"
  "pigments"
  "rails-partials"
  "rails-snippets"
  "railscast-theme"
  "seti-ui"
  "Stylus"
  "Sublime-Style-Column-Selection"
  "tabs-to-spaces"
  "tidy-tabs"
  "todo-show"
  "toggle-quotes"
  "windows-carriage-return-remover"
]
