packages: [
  "atom-beautify"
  "atom-material-ui"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-paths"
  "autocomplete-ruby"
  "editorconfig"
  "emmet"
  "file-icons"
  "fonts"
  "hashy"
  "language-babel"
  "language-chef"
  "language-ect"
  "linter"
  "linter-eslint"
  "linter-foodcritic"
  "linter-jshint"
  "linter-php"
  "linter-rubocop"
  "linter-ruby"
  "linter-scss-lint"
  "minimap"
  "minimap-pigments"
  "package-sync"
  "php-twig"
  "pigments"
  "rails-partials"
  "rails-snippets"
  "railscast-theme"
  "recent-projects"
  "ruby-test"
  "seti-ui"
  "Stylus"
  "Sublime-Style-Column-Selection"
  "tabs-to-spaces"
  "toggle-quotes"
  "windows-carriage-return-remover"
]
